*.a
*.cache
*.log
*.m4
*.o
*conflicted*
*~
.deps
Makefile
Makefile.in
compile
config.*
!renders/drawstuff/config.h
configure
depcomp
frame/*
!frame/README.md
install-sh
irsim
missing
outputFiles/*
!outputFiles/README.md
stamp-h1
